.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.lights {

  height:50px;
  width:50px;
  border:1px solid #ccc;
  border-radius: 30px;
  margin: 30px;

}

#redLight {
  background-color:gray
  
  

}

#yellowLight {
  background-color:gray
}

#greenLight {
  background-color: gray;
}


.buttonStart {
 background-color: #409640;
 color:#fff;
 padding: 10px;
 margin-right: 15px;
}

.buttonStop {
  background-color: #8b3b0c;
  color:#fff;
  padding: 10px;
  margin-right: 15px;
 }